.wrapper {
  display: grid;
  margin: 0px;
  font-family: Roboto, sans-serif;
}

.navigation-bar {
  display: flex;
  border-radius: 0 0 24px 24px;
  box-shadow: 0px 4px 32px rgb(0 60 52 / 16%);
  height: 72px;
  min-height: 72px;
  align-items: center;
  justify-content: space-between;
  padding: 0 24px;
  padding-top: 0px;
  padding-right: 24px;
  padding-bottom: 0px;
  padding-left: 24px;
}

.finder-hero {
  display: flex;
  align-items: center;
  width: 100%;
  height: 350px;
  background-color: #003c34;
}

.finder-hero-title {
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 24px;
  padding-right: 24px;
}

#finder-hero-header{
  font-size: 48px;
  color: #ffffff;
  margin-bottom: 48px;
}

#finder-hero-paragraph {
  font-size: 24px;
  color: #ffffff;
  margin-bottom: 48px;
}

ul { 
  list-style-type: none;
  padding: 0;
  overflow: hidden;
  background-color: #fff;
}
li { 
  float: left;
  margin-left: 16px;
}
li a {
  border-style:solid;
  border-width: 1px;
  border-color: rgb(0, 60, 52);
  border-radius: 18px;
  display: block;
  color:rgb(0, 60, 52);
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}
li a:hover {
  background-color: rgb(0, 60, 52);
  color:#fff;
  border-radius: 18px;
}

.main-container {
  background-color: #f0f6f5;
  display: flex;
  flex-direction: column;
  padding-bottom: 72px;
}

.container-1024 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding-top: 96px;
  width: 1024px;
  margin-left: auto;
  margin-right: auto;
  padding-bottom: 96px;
}

.placeholder-image {
  width: 450px;
  align-self: center;
  border: 1px solid #78999480;
  border-radius: 24px;
}

.buttons {
  align-self: center;
  width: 450px;
  margin-left: auto;
  margin-right: auto;
}

.no-image-chosen {
  margin: 0;
  align-self: center;
  margin-left: 20px;
}

.input-file-label {
  border: solid 1px;
  background-color: #fff;
  border-radius: 18px;
  display: block;
  text-align: center;
  padding: 8px 16px;
  text-decoration: none;
}

.input-file-label:hover {
  background-color: rgb(0, 60, 52);
  color:#fff;
  border-radius: 18px;
}

input[type="file"] {
  display: none;
}

.buttons-form {
  display: flex;
}

.results {
  align-self: center;
  display: none;
}

.result {
  display: flex;
  justify-content: space-between;
  width: 450px;
}

.footer{
  display: flex;
  justify-content: space-between;
  padding: 24px;
}

.footer-left{
  display: flex;
  align-items: center;
}
.footer-right {
  color: rgb(0, 60, 52);
}

.footer a{
  margin-right: 48px;

}
